<style type="text/css">	<!--
	TD.Blank {}
	
	
    #search, #histnote, #tlinks, #hist, #view, #footer, #navbar {
	     display: none;
		 float: none;
			   }
    #data {
		 border: 0;
		 color: #000000;
		 float: none;
			   }
	#title
{
 
  

	.fo {position:relative;visibility:visible;};
	-->
</style>
